
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="css/home.css" rel="stylesheet" type="text/css">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
    </head>
    <body class="background">
        <div>
                <div style="margin-left:680px;" >
                    <div style="margin-right: 200px; margin-top: 200px; ">

                        <section id="home-text">
                            <div>
                                <h2 style="font-size:40px; ">About us</h2>

                               <table border="1|0" style="font-size: 20px;">
  <tr>
    <th>Name</th>
    <th>E-Mail</th>
    <th>Personal Number</th>
  </tr>
  <tr>
    <td>Maksud Alam</td>
    <td>maksudrony44@gmail.com</td>
    <td>01521331239</td>
  </tr>
  <tr>
    <td>Mohibur Rahman Afridi</td>
    <td>Mohibur74@gmail.com</td>
    <td>01781411781</td>
  </tr>
  <tr>
    <td>Mehruj Saif</td>
    <td>Mehruzsaif007@gmail.com</td>
    <td>01984174337</td>
  </tr>

</table>

                            </div>
                        </section>

                    </div>
                </div></div>
         <div style=" top: 65%; position: absolute; left:50%; display: bold; font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif; font-size: 20px;">
                  <h2><a href="home.html"><b>Home</b></a></h2>
                  </div>

    </body>
</html>
